<div class="image">
  <%= image_tag 'down', class: 'img-fluid', id: 'js-image' %>
</div>
<div class="text-center" >
  <button type="button" class="btn btn-secondary" id="js-click">バーベルを持ち上げろ!</button>
</div>