<div class="background">
  <div class="result">
    <h1>10秒間でベンチプレスが<%= @count %>回できました。</h1>
    <br>
    <h2>筋トレ名言</h2>
    <% case @count %>
    <% when 0..3 %>
      <h3>モチベーションがないならやらない方が良いよ</h3>
    <% when 4..15 %>  
      <h3>おしゃべりなら後にしてくれ。パンプが冷めちまう</h3>
    <% when 16..25 %>  
      <h3>数字が少しくらい良くなっただけで、満足してはいけない。頂点を目指すのだ</h3>
    <% when 26..999 %>
      <h3>一生懸命トレーニングするだけではダメだ。必要なのは、賢くトレーニングすること</h3>
    <% end %> 
    <br>
    <%= link_to 'もう一度挑戦する', root_path %>
  </div>
</div>
